@import url("@/styles/header.css");
@import url("@/styles/header-media.css");
@import url("@/styles/chatwindow.css");
@import url("@/styles/chatwindow-media.css");
@import url("@/styles/footer.css");
@import url("@/styles/footer-media.css");
@import url("@/styles/textbubble.css");
@import url("@/styles/textbubble-media.css");

:root {
  --primary: #e9f1f7;
  --secondary: #3d5a80;
  --tertiary: #293241;
}

body {
  width: 100vw;
  height: 100vh;
  color: var(--tertiary);
  background-color: var(--primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
